body{

}
h1{
    font-size: 28px;
    font-style: italic;
    text-align: left;
    padding-left: 10px;
}
article>span{
    display: block;
    text-align: center;
}
ul>li{
    width: 25%;
    padding: 10px;
    text-align: center;
}
a{
    /*display: block;*/
    /*width: 100%;*/
    padding: 10px;
    color: #ffffff;
}
a:hover{
    color: red;
    text-decoration: none;
}

img{
    width: 400px;
}
